body {
  background-color: black;
}

.Container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 16px;
  margin-top: -20px;
  justify-items: center;
}

.Movie {
  cursor: pointer;
  border: 1px solid rgb(22, 151, 202);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  background-color: rgb(22, 151, 202);
  color: white;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px; 
}

.Movie:hover {
  transform: scale(1.05);
}

.poster {
  width: 100%;
  height: 300px;
  object-fit: cover; 
  flex-grow: 1;
  margin-bottom: 10px; 
}


.movie-details {
  text-align: center;
}

.movie-title {
  font-size: 18px;
  margin: 10px 0;
  margin-top: -2px;
  color: white; 
}

.movie-meta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
}

.rating {
  font-weight: bold;
  margin-right: 5px;
  color: #ffcc00;
}

.year {
  color: rgb(225, 224, 224);
  font-size: 14px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.logo {
  width: 120px;
  height: auto;
  margin-right: 10px;
}

.search-bar {
  background-color: rgb(22, 151, 202);
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  margin-top: -10px;
  margin-right: 10px;
  color: white;
}

.search-bar::placeholder {
  color: white;
  opacity: 0.7;
}

.search-bar:focus {
  border-color: #0056b3;
  outline: none;
}

.profile {
  width: 48px;
  height: auto;
  margin-top: -10px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: rgb(22, 151, 202);
}

.error {
  color: rgb(22, 151, 202);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  grid-column: span 6;
  margin-top: 20px;
}

.load-more-button {
  background-color: rgb(22, 151, 202);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 20px auto;
  display: block;
}

.load-more-button:hover {
  background-color: #0056b3;
}

.load-more-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .Container {
    grid-template-columns: repeat(3, 1fr);
  }
  
}

@media (max-width: 480px) {
  .Container {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media (max-width: 360px) {
  .Container {
    grid-template-columns: 1fr;
  }
 
}
