body {
  background-color: beige;
}

.Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px; 
  padding: 16px; 
  margin-top: -20px;
  justify-items: center;
}

.Movie {
  cursor: pointer; 
  border: 1px solid #ccc; 
  border-radius: 8px;
  overflow: hidden; 
  transition: transform 0.2s;  
  background-color: white;
  height: 350px; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
}

.Movie:hover {
  transform: scale(1.05); 
}

.poster {
  width: 100%; 
  height: auto;
  flex-grow: 1; 
}

.search-container {
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin: 16px 0; 
}

.logo {
  width: 120px; 
  height: auto; 
  margin-right: 10px; 
}

.search-bar {
  width: 60%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 20px; 
  font-size: 16px; 
  margin-top: -10px;
}

.movie-title {
  text-align: center;
  font-size: 18px; 
  margin: 10px 0; 
}

.rating {
  font-weight: bold;
  margin-right: 5px;
  color: #ffcc00; 
}

.error {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  grid-column: span 2; 
  margin-top: 20px; 
}
